<template>
    <div class="w-file" :class="{'mod_error': errors.has(name)}">
        <label class="w-file_label" v-text="label"></label>

        <p class="w-file_delete" v-if='value && !disabled' @click.prevent="remove">
            <i class="el-icon-delete w-file_icon-delete"></i>
        </p>

        <el-upload :disabled="disabled" :name="name" class="w-file_component"
                action="/w-admin/api/media/save" :headers="headers" :show-file-list="false"
                v-validate="rules" :on-success="handleSuccess">

            <img class="w-file_preview" v-if='value' :src="value">
            <i class="el-icon-plus w-file_icon" v-if='!value && !this.disabled'></i>
        </el-upload>
    </div>
</template>

<script src="./w-file.js"></script>