<template>
    <div class="field-in-item">
        <!-- Text -->
        <w-text v-if="field.type === 'text'" :field="field"/>
        <w-number v-else-if="field.type === 'number'" :field="field"/>
        <w-textarea v-else-if="field.type === 'textarea'" :field="field"/>
        <w-editor v-else-if="field.type === 'editor'" :field="field"/>
        <w-link v-else-if="field.type === 'link'" :field="field"/>

        <!-- Select -->
        <w-switch v-else-if="field.type === 'switch'" :field="field"/>
        <w-radio v-else-if="field.type === 'radio'" :field="field"/>
        <w-checkbox v-else-if="field.type === 'checkbox'" :field="field"/>
        <w-select v-else-if="field.type === 'select'" :field="field"/>
        <w-multiple-select v-if="field.type === 'multiple-select'" :field="field"/>
        <w-cascade v-if="field.type === 'cascade'" :field="field"/>

        <!-- Special -->
        <w-password v-else-if="field.type === 'password'" :field="field"/>
        <w-slider v-else-if="field.type === 'slider'" :field="field"/>
        <w-rate v-else-if="field.type === 'rate'" :field="field"/>

        <!-- Datetime -->
        <w-date v-else-if="field.type === 'date'" :field="field"/>
        <w-date-time v-else-if="field.type === 'date-time'" :field="field"/>
        <w-time v-else-if="field.type === 'time'" :field="field"/>
        <w-time-select v-else-if="field.type === 'time-select'" :field="field"/>

        <!-- Media -->
        <w-image v-else-if="field.type === 'image'" :field="field"/>
        <w-multiple-images v-else-if="field.type === 'multiple-images'" :field="field"/>

        <w-file v-else-if="field.type === 'file'" :field="field"/>
        <w-multiple-files v-else-if="field.type === 'multiple-files'" :field="field"/>


        <w-image-by-path v-else-if="field.type === 'image-by-path'" :field="field"/>
    </div>
</template>

<script src="./field-in-item.js"></script>