<template>
    <div class="w-multiple-files" :class="{'mod_error': errors.has(name)}">
        <label class="w-multiple-files_label" v-text="label"></label>

        <div class="w-multiple-files_item" v-for="(image, key) in value">
            <img class="w-multiple-files_preview" :src="image.path">

            <div class="w-multiple-files_delete" @click="remove(key)" v-if="!disabled">
                <i class="el-icon-delete w-multiple-files_icon-delete"></i>
            </div>
        </div>

        <el-upload class="w-multiple-files_component"
                   v-if="!disabled"
                   name="file"
                   :headers="headers"
                   action="/w-admin/api/media/save"
                   :show-file-list="false"
                   :on-success="handleSuccess"
                   :on-error="uploadingError"
                   v-validate="rules"
                   :disabled="disabled"
                   multiple>
            <i class="el-icon-plus w-multiple-files_icon"></i>
        </el-upload>
    </div>
</template>

<script src="./w-multiple-files.js"></script>