.w-multiple-files {
    position:      relative;

    display:       inline-block;
    margin-bottom: 20px;
    font-size:     0;

    .w-multiple-files_label {
        @include field-label();
    }

    .w-multiple-files_component {
        display:        inline-block;
        vertical-align: top;
    }

    .el-upload, .w-multiple-files_item {
        position:       relative;
        overflow:       hidden;

        display:        inline-block;
        vertical-align: top;
        margin-bottom:  12px;
        margin-right:   12px;
        padding:        10px;

        border:         1px dashed #dcdfe6;
        border-radius:  4px;
        cursor:         pointer;
    }

    .el-upload:hover {
        border-color: #409eff;
    }

    .w-multiple-files_icon {
        font-size:   28px;
        color:       #8c939d;
        width:       120px;
        height:      120px;
        line-height: 120px;
        text-align:  center;
    }

    .w-multiple-files_preview {
        display:          block;
        width:            120px;
        height:           120px;

        object-fit:       contain;
        border-radius:    4px;

        background-color: $gray-background;
    }

    .w-multiple-files_delete {
        @include transition;

        position:      absolute;
        top:           16px;
        right:         16px;
        z-index:       10;

        background:    $red;
        padding:       6px;
        opacity:       0.6;

        border-radius: 4px;
        cursor:        pointer;

        &:hover {
            opacity: 1;
        }
    }

    .w-multiple-files_icon-delete {
        font-size: 16px;
        color:     #fff;
    }
}