<template>
    <div class="w-editor el-textarea" :class="{'mod_error': errors.has(name)}">
        <label class="w-editor_label" v-text="label"></label>

        <div class="w-editor_component el-textarea__inner" :id="id" v-html="content" @input="change()"></div>
        <input type="hidden" :value="value" v-validate="rules" :name="name">
    </div>
</template>

<script src="./w-editor.js"></script>