.w-editor {
    position:      relative;
    margin-bottom: 20px;

    .w-editor_label {
        @include field-label();
    }

    .w-editor_component {
        padding-top:    11px;
        padding-bottom: 9px;
        line-height:    18px;
    }
}

.w-editor_component {
    h2 {
        margin-top:    5px;
        margin-bottom: 10px;
        font-size:     24px;
        font-weight:   400;
    }

    h3 {
        margin-top:    5px;
        margin-bottom: 10px;
        font-size:     20px;
        font-weight:   400;
    }

    p {
        @include letter-spacing(10, 14px);
        @include transition;

        &.medium-insert-active {

        }
    }

    blockquote {
        margin:           5px 0 10px;
        padding:          10px 0 10px 15px;
        background-color: $gray-background;
    }
}