@mixin placeholder() {
    ::-webkit-input-placeholder {
        @content;
    }
    ::-moz-placeholder {
        @content;
    }
    :-ms-input-placeholder {
        @content;
    }
    :-moz-placeholder {
        @content;
    }
}

/*
    @include autofill() {
        -webkit-text-fill-color: $blue-8;
        -webkit-box-shadow:      0 0 0px 1000px $blue-2 inset;
    }
*/

@mixin autofill() {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill {
        @content;
    }
}