<template>
    <div class="w-time" :class="{'mod_error': errors.has(name)}">
        <label class="w-time_label" v-text="label"></label>
        <el-time-picker class="w-time_component" type="date" value-format="H:mm:ss" format="H:mm:ss"
                        :name="name" v-model="value" :id="id" :picker-options="options" :disabled="disabled" v-validate="rules">
        </el-time-picker>
    </div>
</template>

<script src="./w-time.js"></script>