@mixin title($level: 1) {
    font-weight: 400;
    color:       $gray-text;

    @if $level == 1 {
        @include letter-spacing(40, 32px);
        font-size: 32px;
    } @else if $level == 2 {
        @include letter-spacing(40, 24px);
        font-size: 24px;
    }
}

@mixin text($level: 1, $color: 'light') {
    @if $level == 1 {
        @include letter-spacing(80, 14px);
        font-size: 14px;
    } @else if $level == 2 {
        @include letter-spacing(80, 12px);
        font-size: 12px;
    }
}

@mixin link() {
    @include transition;
    color:           $accent-default;
    text-decoration: underline;

    &:hover {
        color: $accent-dark;
    }
}

@mixin button() {
    @include transition;

    display:          inline-flex;
    justify-content:  center;
    align-items:      center;

    padding:          0 20px;
    height:           40px;

    background-color: $accent-dark;
    border-radius:    20px;

    color:            $white;
    font-size:        14px;
    font-weight:      400;
    border:           none;
    outline:          none;

    cursor:           pointer;

    &:hover {
        background-color: $accent-hover;
    }

    .btn__content {
        box-shadow: none;
    }
}