.app-notification {
    @include transition-long();
    @include letter-spacing(40, 14px);

    position: fixed;
    z-index:  1000000;

    .app-notification_text {
        position:        fixed;
        z-index:         1000001;
        opacity:         0;

        transform:       translate(-50%, -50%);
        top:             50%;
        left:            50%;

        display:         flex;
        justify-content: center;
        align-items:     center;
        width:           100%;

        font-size:       48px;
        color:           #fff;
        text-align:      center;

        animation:       1.2s ease notification-text;
    }

    &.mod_error {
        .app-notification_ripple {
            background: $red-default;
        }
    }

    .app-notification_ripple {
        position:       fixed;
        z-index:        1000000;
        left:           50%;
        top:            50%;

        opacity:        0;

        display:        block;
        width:          1px;
        height:         1px;

        border-radius:  50%;
        background:     $accent-default;

        animation:      1s ease notification-ripple;
        transform:      translate(-50%, -50%);

        will-change:    transform, width, height, opacity;
        pointer-events: none;
    }
}

@keyframes notification-ripple {
    0% {
        width:   1px;
        height:  1px;
        opacity: 0;
    }
    25% {
        width:   3000px;
        height:  3000px;
        opacity: 1;
    }
    75% {
        width:   3000px;
        height:  3000px;
        opacity: 1;
    }
    100% {
        width:   3000px;
        height:  3000px;
        opacity: 0;
    }
}

@keyframes notification-text {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
