<template>
    <section class="app-notification" :class="statusClass">
        <span class="app-notification_text" v-show="status">{{ notification }}</span>
        <div class="app-notification_ripple" v-show="status"></div>
    </section>
</template>

<script src="./app-notification.js"></script>