.app-popup {
    @include transition();
    @include letter-spacing(40, 14px);

    position:   fixed;
    z-index:    1000000;

    display:    block;
    width:      100%;
    height:     100%;

    background: $gray-background;

    &.mod_hidden {
        visibility: hidden;
        opacity:    0;
    }

    &.mod_visible {
        visibility: visible;
        opacity:    1;
    }

    .app-popup_message {
        display:         flex;
        flex-direction:  column;
        align-items:     center;
        justify-content: center;
        text-align:      center;

        width:           100%;
        height:          100%;
        padding:         20px;
    }

    .app-popup_title {
        margin-top:    0;
        margin-bottom: 20px;
        font-size:     24px;
        color:         $gray-text;
        text-align:    center;
    }

    .app-popup_button {
        @include button();

        margin: 0 5px;

        &.mod_cancel {
            background-color: $gray-medium;

            &:hover {
                background-color: $gray-text;
            }
        }

        &.mod_remove {
            background-color: $red-default;

            &:hover {
                background-color: $red-hover;
            }
        }
    }
}