<template>
    <section class="app-popup" :class="visible ? 'mod_visible' : 'mod_hidden'">
        <div class="app-popup_message">
            <h3 class="app-popup_title">{{ title }}</h3>
            <div class="app-popup_buttons">
                <a class="app-popup_button mod_action" :class="'mod_' + buttonClass"  @click.prevent="makeAction()">{{ buttonText }}</a>
                <a class="app-popup_button mod_cancel" @click.prevent="hidePopup()">Cancel</a>
            </div>
        </div>
    </section>
</template>

<script src="./app-popup.js"></script>