.w-password {
    position:      relative;
    margin-bottom: 20px;

    .w-password_label {
        @include field-label();
    }

    .w-password_icon {
        @include transition();
        color:  $gray-background-dark;
        cursor: pointer;
    }

    .w-password_toggle {
        position: absolute;
        z-index:  1;
        top:      12px;
        right:    15px;

        &.mod_text, &:hover {
            .w-password_icon {
                color: $accent-default;
            }
        }
    }
}