<template>
    <div class="w-password" :class="{'mod_error': errors.has(name)}">
        <label class="w-password_label" v-text="label"></label>
        <div class="w-password_toggle" @click="togglePasswordType()" :class="[ 'mod_' + passwordType ]">
            <i class="w-password_icon fas fa-eye"></i>
        </div>
        <el-input class="w-password_component" :name="name" v-model="value" :type="passwordType" :disabled="disabled"
                  v-validate="rules"/>
    </div>
</template>

<script src="./w-password.js"></script>