.w-slider {
    position:      relative;
    margin-bottom: 20px;

    .w-slider_label {
        @include field-label();
    }

    .w-slider_component {
        display:       block;
        width:         100%;
        height:        40px;
        padding: 1px 15px;
        border:        1px solid #dcdfe6;
        border-radius: 4px;
    }
}