<template>
    <div class="w-slider" :class="{'mod_error': errors.has(name)}">
        <label class="w-slider_label" v-text="label"></label>
        <el-slider class="w-slider_component" :name="name" v-model="value" :min="min" :max="max" :step="step" :disabled="disabled" v-validate="rules"/>
    </div>
</template>

<script src="./w-slider.js"></script>