.w-select {
    position:      relative;
    margin-bottom: 20px;

    .w-select_label {
        @include field-label();
    }

    .w-select_component {
        width: 100%;
    }
}

.el-select-dropdown__item {
    @include letter-spacing(10, 14px);
    font-size: 14px;

    &.selected {
        font-weight: 400;
    }
}

