.auth {

    text-align: center;

    .auth_form {
        @include centering();

        @include placeholder() {
            @include text();
            color: $gray-medium;
        }

        display:        flex;
        flex-direction: column;

        width:          100%;
        padding:        0 20px;

        @include media('t') {
            width: 320px;
        }
    }

    .auth_title {
        @include title();

        text-transform: uppercase;
        margin:         0 0 22px;
    }

    .auth_input {
        @include text();
        @include autofill() {
            -webkit-text-fill-color: $gray-text;
            -webkit-box-shadow:      0 0 0px 1000px $gray-background inset;
        }

        width:            100%;
        height:           40px;
        margin-bottom:    20px;

        font-weight:      300;
        text-align:       center;

        border:           none;
        border-radius:    20px;
        outline:          none;

        background-color: $gray-background;

        &.mod_error {
            background-color: $red-background;
        }
    }

    .auth_button {
        @include button();

        margin:         0;
        box-shadow:     none;

        font-size:      16px;
        font-weight:    400;
        text-transform: none;
    }

    .auth_error {
        @include text(2);
        @include centering('x');

        position: absolute;
        bottom:   -44px;

        width:    100%;
        color:    $red-default;

        &.fade-enter-active, &.fade-leave-active {
            transition: opacity .2s ease;
        }

        &.fade-enter, &.fade-leave-to {
            opacity: 0;
        }
    }

    .auth_notice {
        @include text(2);
        @include centering('x');

        bottom:      60px;

        width:       100%;
        margin:      0;
        line-height: 20px;
    }

    .auth_notice-link {
        @include link;
    }
}

