<template>
    <section class="modal">
        <div class="modal_wrapper">
            <div class="modal_content">
                <div class="auth">
                    <form class="auth_form" @submit.prevent="logIn">
                        <h1 class="auth_title">Sing in</h1>

                        <input class="auth_input" type="text" name="email"
                               placeholder="Email" v-model="email" @focus="cleanErrors"
                               :class="{'mod_error': errors.has('email') }" v-validate="'required|email'">

                        <input class="auth_input" type="password" name="password"
                               placeholder="Password" v-model="password" @focus="cleanErrors"
                               :class="{'mod_error': errors.has('password') }" v-validate="'required'">

                        <button class="auth_button" type="submit">Enter</button>

                        <transition name="fade">
                            <p class="auth_error" v-show="errorMessage">{{ errorMessage }}</p>
                        </transition>
                    </form>

                    <p class="auth_notice">
                        Admin panel for Laravel App<br>
                        Created by
                        <a class="auth_notice-link"
                           href="http://vysotsky.productions" target="_blank">vysotsky.productions</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>

<script src="./auth.js"></script>