<template>
    <div class="w-checkbox" :class="{'mod_error': errors.has(name)}">
        <label class="w-checkbox_label" v-text="label"></label>
        <el-checkbox-group class="w-checkbox_component" v-model="value" :disabled="disabled" v-validate="rules">
            <el-checkbox v-for="(value, key) in values" :key="key" :label="key">{{ value }}</el-checkbox>
        </el-checkbox-group>
    </div>
</template>

<script src="./w-checkbox.js"></script>