.w-checkbox {
    position:      relative;
    margin-bottom: 20px;

    .w-checkbox_label {
        @include field-label();
    }

    .w-checkbox_component {
        display:       block;
        width:         100%;
        min-height:    40px;

        padding:       12px 15px 0;
        border:        1px solid #dcdfe6;
        border-radius: 4px;
    }

    .el-checkbox {
        margin-left:   0;
        margin-right:  30px;
        margin-bottom: 9px;

        font-weight:   400;

        &:last-of-type {
            margin-right: 0;
        }
    }
}
