.w-image {
    position:      relative;

    display:       inline-block;
    margin-bottom: 20px;

    .w-image_label {
        @include field-label();
    }

    .w-image_container {
        position:      relative;
        overflow:      hidden;

        padding:       10px;

        border:        1px dashed #dcdfe6;
        border-radius: 4px;
        cursor:        pointer;
    }

    .w-image_container:hover {
        border-color: #409eff;
        cursor:       pointer;
    }

    .w-image_input {
        @include expand();
        opacity: 0;

        cursor:  pointer;
    }

    .w-image_icon {
        font-size:   28px;
        color:       #8c939d;
        width:       120px;
        height:      120px;
        line-height: 120px;
        text-align:  center;
    }

    .w-image_preview {
        display:          block;
        width:            120px;
        height:           120px;

        object-fit:       contain;
        border-radius:    4px;

        background-color: $gray-background;
    }

    .w-image_delete {
        @include transition;

        position:      absolute;
        top:           16px;
        right:         16px;
        z-index:       10;

        background:    $red;
        padding:       6px;
        opacity:       0.6;

        border-radius: 4px;
        cursor:        pointer;

        &:hover {
            opacity: 1;
        }
    }

    .w-image_icon-delete {
        color: #fff;
    }
}