<template>
    <div class="w-image" :class="{'mod_error': errors.has(name)}">
        <label class="w-image_label" v-text="label"></label>

        <p class="w-image_delete" v-if='value && !disabled' @click.prevent="remove">
            <i class="el-icon-delete w-image_icon-delete"></i>
        </p>

        <div class="w-image_container">
            <input type="file" class="w-image_input" @change="load" :ref="name">

            <img class="w-image_preview" v-if='value' :src="value">
            <i class="el-icon-plus w-image_icon" v-if='!value && !this.disabled'></i>
        </div>
    </div>
</template>

<script src="./w-image.js"></script>