.cropper {
    @include transition();
    @include letter-spacing(40, 14px);

    position:   fixed;
    z-index:    1000000;

    display:    block;
    width:      100%;
    height:     100%;

    background: $gray-background;

    .cropper_image-container {
        max-width:     72vw;
        max-height:    72vh;
        margin-bottom: 30px;
    }

    &.mod_hidden {
        visibility: hidden;
        opacity:    0;
    }

    &.mod_visible {
        visibility: visible;
        opacity:    1;
    }

    .cropper_title {
        margin-top:    0;
        margin-bottom: 30px;
        font-size:     24px;
        color:         $gray-text;
        text-align:    center;
    }

    .cropper_content {
        @include centering('y');

        display:         flex;
        flex-direction:  column;
        align-items:     center;
        justify-content: center;
        text-align:      center;

        width:           100%;
        height:          100%;
        padding:         20px;
    }

    .cropper_button {
        @include button();

        margin: 0 5px;
    }

    .cropper-bg {
        background: $gray-background;
    }

    .cabinet_page-close {
        position: absolute;
        z-index:  1;
        top:      30px;
        right:    30px;

        cursor:   pointer;
    }

    .cabinet_page-close-icon {
        width:  24px;
        height: 24px;
    }
}

img {
    max-width: 100% !important;
}
