<template>
    <div class="cropper" :class="visible ? 'mod_visible' : 'mod_hidden'">
        <div class="cropper_wrapper">
            <div class="cabinet_page-close" @click="close()">
                <img class="cabinet_page-close-icon" :src="vendorPath + 'img/close.svg'" >
            </div>


            <div class="cropper_content">
                <h1 class="cropper_title">Crop photo</h1>

                <div class="cropper_image-container">
                    <img class="cropper_image" id="cropper" :src="cropper.file">
                </div>

                <button class="cropper_button" @click="save()">Crop & Save</button>
            </div>
        </div>
    </div>
</template>

<script src="./cropper.js"></script>