// Black & White
$black: #000;
$white: #fff;


$red: #ff0c17;
$red-1: #2b0b0b;

/*
 ** Theme
  */

// Accent
$accent-default: #039be5;
$accent-dark: #0288d1;
$accent-light: #7FC3E7;
$accent-hover:  darken($accent-dark, 2);

// Gray
$gray-background: #f8f8f8;
$gray-background-medium: #f2f2f2;
$gray-background-dark: #ebebeb;

$gray-medium-light: #ccc;
$gray-medium: #aaa;
$gray-text: #444;
$gray-text-dark: #222;

// Red
$red-default: #ff4f4f;
$red-hover: #e63d3d;
$red-background: #f7efef;

// Green
$green-background: #4CAF50;