<template>
    <div class="w-rate" :class="{'mod_error': errors.has(name)}">
        <label class="w-rate_label" v-text="label"></label>
        <el-rate class="w-rate_component" :name="name" v-model="value" :disabled="disabled" v-validate="rules"/>
    </div>
</template>

<script src="./w-rate.js"></script>