.w-rate {
    position:      relative;
    margin-bottom: 20px;

    .w-rate_label {
        @include field-label();
    }

    .w-rate_component {
        display:       block;
        width:         100%;
        height:        40px;
        padding:       9px 15px;
        border:        1px solid #dcdfe6;
        border-radius: 4px;
    }
}