// Font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500');
// Bootstrap
@import './app/core';
@import "./app/normalize";
@import "./global";

// Element UI
$--font-path: '/vendor/vy/w-admin/public/fonts/';

//@import "~element-ui/packages/theme-chalk/src/base";
@import "~element-ui/packages/theme-chalk/src/input";
@import "~element-ui/packages/theme-chalk/src/switch";
@import "~element-ui/packages/theme-chalk/src/input-number";
@import "~element-ui/packages/theme-chalk/src/icon";
@import "~element-ui/packages/theme-chalk/src/select";
@import "~element-ui/packages/theme-chalk/src/radio";
@import "~element-ui/packages/theme-chalk/src/radio-group";
@import "~element-ui/packages/theme-chalk/src/checkbox";
@import "~element-ui/packages/theme-chalk/src/date-picker";
@import "~element-ui/packages/theme-chalk/src/scrollbar";
@import "~element-ui/packages/theme-chalk/src/button";
@import "~element-ui/packages/theme-chalk/src/time-picker";
@import "~element-ui/packages/theme-chalk/src/spinner";
@import "~element-ui/packages/theme-chalk/src/upload";
@import "~element-ui/packages/theme-chalk/src/time-select";
@import "~element-ui/packages/theme-chalk/src/slider";
@import "~element-ui/packages/theme-chalk/src/rate";
@import "~element-ui/packages/theme-chalk/src/cascader";

// Medium editor
@import "~medium-editor/src/sass/medium-editor";
@import "~medium-editor-insert-plugin/src/sass/medium-editor-insert-plugin";
@import "~medium-editor-insert-plugin/src/sass/medium-editor-insert-plugin-frontend";

// Cropper
@import './../../../node_modules/cropperjs/dist/cropper.css';

// Proto mixins
@import "./proto/*.scss";

// Components mixins
@import "./components/*.scss";

// Import pages & components from views
@import "./../../views/pages/**/*.scss";
@import "./../../views/components/**/*.scss";
@import "./../../views/layouts/**/*.scss";
@import "./../../views/fields/**/*.scss";

