* {
    box-sizing: border-box;
}

body, html {
    overflow: hidden !important;
}

html, button {
    @include letter-spacing(40, 12px);
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color:           inherit;

    &:hover {
        text-decoration: none !important;
    }
}

figure {
    margin: 0;
}

