.app-header {
    position:         absolute;
    z-index:          1;
    top:              0;

    display:          flex;
    align-items:      center;
    padding-right:    20px;

    width:            100%;
    height:           60px;

    background-color: $accent-default;

    .app-header_logo {
        @include transition;

        position:         relative;

        display:          block;
        height:           100%;
        width:            60px;

        background-color: $accent-dark;

        &:hover {
            background-color: $accent-hover;
        }
    }

    .app-header_logo-svg {
        @include centering('x');
        top:     9px;

        display: block;
        width:   40px;
        height:  40px;
    }

    .app-header_title {
        @include text(2);

        display:          inline-flex;

        width:            120px;
        height:           100%;
        align-items:      center;
        justify-content:  center;

        text-align:       center;
        color:            $white;

        background-color: #0693e0;
    }

    .app-header_button {
        @include button();

        position:    relative;
        margin-left: 15px;

        font-weight: 500;

        &.mod_new {
            width: 40px;
        }
    }

    .app-header_search {
        position:    relative;
        margin-left: 20px;

        width:       30%;
    }

    .app-header_search-input {
        @include text(2);

        @include placeholder() {
            @include text(2);
            color: rgba(255, 255, 255, 0.5);
        }

        padding:          0 20px;
        width:            100%;
        height:           40px;

        background-color: $accent-dark;
        border-radius:    20px;
        border:           none;

        color:            $white;
        outline:          none;
    }

    .app-header_search-icon {
        @include transition;

        position:  absolute;
        right:     16px;
        top:       12px;

        font-size: 16px;
        color:     rgba(255, 255, 255, 0.5);
    }

    .app-header_icon-dots {
        @include centering();

        width:            4px;
        height:           4px;
        background-color: $white;

        border-radius:    100%;

        &:before, &:after {
            @include centering('y');
            content:          '';

            width:            4px;
            height:           4px;
            background-color: $white;

            border-radius:    100%;
        }

        &:before {
            left: -8px;
        }

        &:after {
            right: -8px;
        }
    }

    .app-header_plus {
        font-size:      24px;
        font-weight:    400;
        font-style:     inherit;

        line-height:    24px;
        letter-spacing: -1px;
    }

    .app-header_breadcrumbs {
        margin-left: 10px;
    }

    .app-header_breadcrumbs, .app-header_breadcrumbs-item-wrapper {
        display:     inline-flex;
        align-items: center;
    }

    .app-header_breadcrumbs-item {
        @include transition;

        margin-left: 11px;

        font-size:   12px;
        color:       $white;

        &:hover {
            color: $gray-background-dark;
        }
    }

    .app-header_breadcrumbs-icon {
        color:     $white;

        font-size: 16px;
    }

    .app-header_arrow {
        margin-left: 11px;

        font-size:   14px;
        color:       $white;
    }

    .app-header_right {
        display:         inline-flex;
        justify-content: center;
        margin-left:     auto;
    }
}