<template>
    <section class="app-header">
        <router-link to="/w-admin/dashboard" class="app-header_logo" v-if="$store.getters.authenticated">
            <img class="app-header_logo-svg" :src="vendorPath + 'img/w-admin.svg'">
        </router-link>
        <div class="app-header_logo" v-else>
            <img class="app-header_logo-svg" :src="vendorPath + 'img/w-admin.svg'">
        </div>

        <a href="/" target="_blank" class="app-header_title" v-if="$store.getters.authenticated">{{ $store.getters.appName }}</a>

        <!-- Search -->
        <div class="app-header_search"
             v-if="$store.getters.authenticated && $store.getters.getSearchFields && $route.name === 'model-create' || $route.name === 'model-edit'">
            <input class="app-header_search-input" type="text" placeholder="Search" @input="search"
                   v-model="searchPhrase">
            <div class="app-header_search-button">
                <i class="app-header_search-icon fas fa-search"></i>
            </div>
        </div>

        <!-- Breadcrumbs -->
        <nav class="app-header_breadcrumbs" v-if="$store.getters.authenticated">
            <router-link to="/w-admin/dashboard" class="app-header_breadcrumbs-item">
                <i class="app-header_breadcrumbs-icon fas fa-home"></i>
            </router-link>

            <div class="app-header_breadcrumbs-item-wrapper" v-for="breadcrumb in $store.state.breadcrumbs">
                <i class="app-header_arrow fas fa-angle-right"></i>
                <router-link v-if="breadcrumb.path" :to="'/w-admin/' + breadcrumb.path"
                             class="app-header_breadcrumbs-item">
                    {{ breadcrumb.title }}
                </router-link>
                <span class="app-header_breadcrumbs-item" v-else>{{ breadcrumb.title }}</span>
            </div>
        </nav>

        <!-- Login && Dashboard -->
        <div class="app-header_right" v-if="$route.name === 'login' || $route.name === 'dashboard'">
            <a class="app-header_button" href="/">Back to the site</a>
        </div>

        <!-- Settings -->
        <div class="app-header_right" v-if="$route.name === 'settings'">
            <a class="app-header_button" @click.prevent="saveSettings()">Save settings</a>
        </div>

        <!-- Models -->
        <div class="app-header_right" v-if="$route.name === 'model-create' || $route.name === 'model-edit'">
            <a class="app-header_button mod_new" @click.prevent="addNewItem()" v-if="$route.name === 'model-edit'">
                <i class="app-header_plus">+</i>
            </a>

            <a class="app-header_button" @click.prevent="saveModel()">Save</a>
        </div>
    </section>
</template>

<script src="./app-header.js"></script>