<template>
    <div class="w-cascade" :class="{'mod_error': errors.has(name)}">
        <label class="w-cascade_label" v-text="label"></label>
        <el-cascader class="w-cascade_component" filterable multiple :name="name" v-model="value" placeholder="Select" :options="values"
                     filterable @active-item-change="change" :disabled="disabled" v-validate="rules">
        </el-cascader>
    </div>
</template>

<script src="./w-cascade.js"></script>