.w-date {
    position:      relative;
    margin-bottom: 20px;

    .w-date_label {
        @include field-label();

        background-color: #fff;
    }

    .w-date_component {
        width: 100%;
    }
}