<template>
    <div class="w-date" :class="{'mod_error': errors.has(name)}">
        <label class="w-date_label" v-text="label"></label>
        <el-date-picker class="w-date_component" type="date" value-format="yyyy-MM-dd" format="yyyy-MM-dd"
                        :name="name" v-model="value" :id="id" :disabled="disabled" v-validate="rules">
        </el-date-picker>
    </div>
</template>

<script src="./w-date.js"></script>