<template>
    <div class="w-time-select" :class="{'mod_error': errors.has(name)}">
        <label class="w-time-select_label" v-text="label"></label>
        <el-time-select class="w-time-select_component" type="date" value-format="H:mm:ss" format="H:mm:ss"
                        :start="start" :end="end" :step="step"
                        :picker-options="pickerOptions"
                        :name="name" v-model="value" :id="id" :disabled="disabled" v-validate="rules">
        </el-time-select>
    </div>
</template>

<script src="./w-time-select.js"></script>