<template>
    <div class="w-number" :class="{'mod_error': errors.has(name)}">
        <label class="w-number_label" v-text="label"></label>
        <el-input-number class="w-number_component"
                         :name="name" v-model="value"
                         :min="min" :max="max" :disabled="disabled"
                         controls-position="right" v-validate="rules"/>
    </div>
</template>

<script src="./w-number.js"></script>