.w-number {
    position:      relative;
    margin-bottom: 20px;

    .w-number_label {
        @include field-label();
    }

    .w-number_component {
        width: 100%;
    }

    .el-input__inner {
        text-align: left;
    }
}
