<template>
    <div class="w-multiple-images" :class="{'mod_error': errors.has(name)}">
        <label class="w-multiple-images_label" v-text="label"></label>

        <div class="w-multiple-images_item" v-for="(image, key) in value">
            <img class="w-multiple-images_preview" :src="image.path">

            <div class="w-multiple-images_delete" @click="remove(key)" v-if="!disabled">
                <i class="el-icon-delete w-multiple-images_icon-delete"></i>
            </div>
        </div>

        <div class="w-multiple-images_container">
            <input type="file" class="w-multiple-images_input" @change="load" :ref="name">

            <i class="el-icon-plus w-multiple-images_icon"></i>
        </div>
    </div>
</template>

<script src="./w-multiple-images.js"></script>