<template>
    <div class="w-multiple-select" :class="{'mod_error': errors.has(name)}">
        <label class="w-multiple-select_label" v-text="label"></label>
        <el-select class="w-multiple-select_component" filterable multiple :name="name" v-model="value" placeholder="Select" :disabled="disabled" v-validate="rules">
            <el-option v-for="(item, key, id) in values" :key="key" :value="item.id" :label="item.label"></el-option>
        </el-select>
    </div>
</template>

<script src="./w-multiple-select.js"></script>