.w-multiple-select {
    position:      relative;
    margin-bottom: 20px;

    .w-multiple-select_label {
        @include field-label();
    }

    .w-multiple-select_component {
        width: 100%;
    }
}
