.settings {
    padding:    20px;
    height:     100%;
    overflow-y: auto;
    overflow-x: hidden;

    .el-tabs__item {
        @include button;

        background-color: $gray-background;
        color:            $gray-text;
        margin-bottom:    10px;
        margin-right:     10px;

        text-transform:   capitalize;

        &:hover {
            background-color: $gray-background-dark;
        }

        &.is-active {
            background-color: $accent-dark;
            color:            $white;
            cursor:           default;

            &:hover {
                background-color: $accent-hover;
            }
        }
    }

    .settings_tab-content {
        padding-top: 20px;
    }
}