<template>
    <div class="settings">
        <w-tabs class="settings_tabs" type="card" v-model="activeTab">
            <w-tab-pane class="settings_tab-content" v-for="(tab, tabName, index) in settings"
                         :label="tabNameWithSpaces(tabName)" :name="'tab-' + index" :key="tabName">
                <div v-for="field in tab">
                    <field-in-item :field="field"></field-in-item>
                </div>
            </w-tab-pane>
        </w-tabs>
    </div>
</template>

<script src="./settings.js"></script>