<template>
    <div class="w-radio" :class="{'mod_error': errors.has(name)}">
        <label class="w-radio_label" v-text="label"></label>
        <el-radio-group v-model="value" class="w-radio_component" :disabled="disabled" v-validate="rules">
            <el-radio v-for="(value, key) in values" :key="key" :label="value.id">{{ value.label }}</el-radio>
        </el-radio-group>
    </div>
</template>

<script src="./w-radio.js"></script>