<template>
    <div class="w-date-time" :class="{'mod_error': errors.has(name)}">
        <label class="w-date-time_label" v-text="label"></label>
        <el-date-picker class="w-date-time_component" type="datetime" value-format="yyyy-MM-dd H:mm:ss" format="yyyy-MM-dd H:mm:ss"
                        :name="name" v-model="value" :id="id" :disabled="disabled" v-validate="rules">
        </el-date-picker>
    </div>
</template>

<script src="./w-date-time.js"></script>