.w-date-time {
    position:      relative;
    margin-bottom: 20px;

    .w-date-time_label {
        @include field-label();
    }

    .w-date-time_component {
        width: 100%;
    }
}

.el-scrollbar__wrap {
    box-sizing: content-box;
}