<template>
    <div class="model">
        <div class="model_list" v-if="list" :class="!!pagination ? 'mod_pagination' : ''">
            <el-scrollbar>
                <table cellspacing="0" cellpadding="0" border="0" class="model_table">
                    <thead class="model_table-head">
                    <tr class="model_table-row mod_head">
                        <th class="model_table-head-cell" v-for="field in model.list">
                            <span class="model_table-item" @click="order(field)"
                                  :class="orderClass(field)">
                                {{(field.hasOwnProperty('relation') ?  formatField(field.relation) + ' - ' : '') + formatField(field.field) }}
                                <i class="model_table-sort-icon fas fa-angle-up"></i>
                                <i class="model_table-sort-icon fas fa-angle-down"></i>
                            </span>

                        </th>
                        <th class="model_table-head-cell"></th>
                    </tr>
                    </thead>

                    <tr class="model_table-row mod_content" @click="routeToItem(item.id)"
                        :class="{mod_active: item.id == id}"
                        v-for="item in list">
                        <td class="model_table-cell" v-for="field in item">
                            <span class="model_table-item">{{ field }}</span>
                        </td>

                        <td class="model_table-cell">
                            <div class="model_table-remove" @click.prevent.stop="removePopup(item.id)">
                                <i class="model_table-remove-icon fas fa-trash-alt"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </el-scrollbar>

            <div class="model_pagination" v-if="pagination">
                <div class="model_pagination-item" v-for="item in pagination" :class="'mod_' + item.type"
                     @click="paginate(item.page)">{{ item.page }}
                </div>
            </div>
        </div>

        <div class="model_content" v-if="model">
            <w-scrollbar>
                <div class="model_content-scrollbar">
                    <h3 class="model_title" v-if="id">Edit item #{{ id }}</h3>
                    <h3 class="model_title" v-else>Add new item</h3>

                    <w-tabs class="model_tabs" type="card" v-model="activeTab">
                        <w-tab-pane class="model_tab-content" v-for="(tab, tabName, index) in model.fields"
                                    :label="tabNameWithSpaces(tabName)" :name="'tab-' + index" :key="tabName">
                            <div v-for="field in tab">
                                <field-in-item :field="field"></field-in-item>
                            </div>
                        </w-tab-pane>
                    </w-tabs>
                </div>
            </w-scrollbar>
        </div>

        <div class="model_error" v-if="!model && !list">
            <h3 class="model_error-title">Model not found!</h3>
        </div>
    </div>
</template>

<script src="./model.js"></script>