.model {
    height:     100%;
    overflow-y: auto;
    overflow-x: hidden;
    display:    flex;

    .model_list {
        position:     relative;
        width:        100%;
        max-width:    calc(100% - 600px);
        min-width:    400px;
        border-right: 4px solid $gray-background;

        .el-scrollbar__wrap {
            padding: 0 6px;
            height:  calc(100vh - 43px);
        }

        &.mod_pagination {
            .el-scrollbar__wrap {
                padding: 0 6px;
                height:  calc(100vh - 123px);
            }
        }
    }

    .model_content {
        width:     100%;
        min-width: 600px;
        max-width: 800px;
        .el-scrollbar__wrap {
            padding: 0 6px;
            height:  calc(100vh - 43px);
        }
    }

    .model_content-scrollbar {
        padding: 20px;
    }

    .model_title {
        margin-top:    0;
        margin-bottom: 15px;

        font-weight:   500;
        font-size:     16px;
        color:         $gray-text;
    }

    .model_table {
        position:        relative;
        top:             -6px;

        width:           100%;
        text-align:      left;

        border-collapse: separate;
        border-spacing:  0 6px;
    }

    .model_table-head-cell {
        font-size:      14px;
        color:          $gray-medium;
        font-weight:    500;

        text-transform: capitalize;
    }

    .model_table-cell {
        font-size:   12px;
        color:       $gray-text;
        font-weight: 400;
    }

    .model_table-item {
        padding:     0 10px 0 15px;
        white-space: nowrap;
        cursor:      pointer;

        .fa-angle-up, .fa-angle-down {
            display:     none;
            font-size:   13px;
            margin-left: 3px;
        }

        &.mod_asc, &.mod_desc {
            color: $accent-dark;
        }

        &.mod_asc {
            .fa-angle-up {
                display: inline-block;
            }
        }

        &.mod_desc {
            .fa-angle-down {
                display: inline-block;
            }
        }
    }

    .model_table-row {
        @include transition;
        position:         relative;

        height:           40px;
        margin-bottom:    6px;
        vertical-align:   middle;

        background-color: $gray-background;

        &.mod_content {
            cursor: pointer;

            &:hover {
                background-color: $gray-background-dark;
            }

            &.mod_active {
                background-color: $accent-default;

                .model_table-cell {
                    color: $white;
                }

                .model_table-remove {
                    background-color: $accent-dark;

                    &:hover {
                        background-color: $red-default;
                    }
                }
            }

            &:hover .model_table-remove {
                visibility: visible;
                opacity:    1;
            }
        }
    }

    .model_table-remove {
        @include transition;

        display:          flex;
        align-items:      center;
        justify-content:  center;

        margin-left:      auto;
        margin-right:     10px;

        width:            28px;
        height:           28px;

        background-color: $gray-medium-light;

        font-size:        12px;
        border-radius:    14px;

        opacity:          0;
        visibility:       hidden;

        &:hover {
            background-color: $red-default;
        }
    }

    .model_table-remove-icon {
        color: $white;
    }

    .el-tabs__item {
        @include button;

        background-color: $gray-background;
        color:            $gray-text;
        margin-bottom:    10px;
        margin-right:     10px;

        text-transform:   capitalize;

        &:hover {
            background-color: $gray-background-dark;
        }

        &.is-active {
            background-color: $accent-dark;
            color:            $white;
            cursor:           default;

            &:hover {
                background-color: $accent-hover;
            }
        }
    }

    .model_tab-content {
        padding-top: 20px;
    }

    .model_pagination {
        position:         absolute;
        bottom:           0;
        left:             6px;
        right:            6px;

        display:          flex;
        justify-content:  center;
        align-items:      center;
        height:           80px;

        background-color: $gray-background;
    }

    .model_pagination-item {
        @include transition;
        display:          inline-flex;
        justify-content:  center;
        align-items:      center;
        width:            40px;
        height:           40px;
        margin:           0 5px;

        background-color: $gray-background-medium;
        border-radius:    20px;

        font-size:        14px;
        line-height:      17px;
        font-weight:      500;

        color:            $gray-text;

        &.mod_active {
            background-color: $accent-default;
            color:            $white;
        }

        &.mod_default {
            background-color: $gray-background-dark;
            cursor:           pointer;

            &:hover {
                background-color: $accent-default;
                color:            $white;
            }
        }
    }

    .model_error {
        display:         flex;
        justify-content: center;
        align-items:     center;
        width:           100%;
        height:          100%;
    }

    .model_error-title {
        font-size:   32px;
        font-weight: 400;
        color:       $gray-text;
    }

}

.model {
    .el-scrollbar__bar.is-vertical {
        right: 0;
    }
    .el-scrollbar__thumb {
        background-color: $accent-default;
        border-radius:    0;
    }
}