<template>
    <div class="w-switch" :class="{'mod_error': errors.has(name)}">
        <label class="w-switch_label" v-text="label"></label>
        <el-switch class="w-switch_component"
                   name="name"
                   v-model="value"
                   :inactive-text="activeLabel"
                   :active-text="disabledLabel"
                   v-validate="rules"
                   :disabled="disabled">
        </el-switch>
    </div>
</template>

<script src="./w-switch.js"></script>