.w-switch {
    position:      relative;
    margin-bottom: 20px;

    .w-switch_label {
        @include field-label();
    }

    .el-switch__label {
        * {
            @include letter-spacing(10, 14px);

            font-size:   14px;
            font-weight: 400;
            color:       $gray-medium;
        }

        &.is-active * {
            color: $accent-default;
        }
    }

    .el-switch {
        display:       block;
        width:         100%;
        height:        40px;

        padding:       9px 15px;
        border:        1px solid #dcdfe6;
        border-radius: 4px;
    }
}

