.w-textarea {
    position:      relative;
    margin-bottom: 20px;

    .w-textarea_label {
        @include field-label();
    }

    .w-textarea_component {
        textarea {
            padding-top: 10px;
            line-height: 18px;
        }
    }
}

