<template>
    <div class="w-textarea" :class="{'mod_error': errors.has(name)}">
        <label class="w-textarea_label" v-text="label"></label>
        <el-input class="w-textarea_component" type="textarea"
                  :disabled="disabled" v-validate="rules"
                  :rows="10" :name="name" v-model="value"/>
    </div>
</template>

<script src="./w-textarea.js"></script>