<template>
    <div class="w-image-by-path" v-if="value">
        <label class="w-image-by-path_label" v-text="label"></label>
        <img class="w-image-by-path_component" :src="value" alt="">
    </div>
</template>

<script src="./w-image-by-path.js"></script>