.w-image-by-path {
    position:      relative;
    margin-bottom: 20px;

    padding:       10px;

    border:        1px dashed #dcdfe6;
    border-radius: 4px;

    .w-image-by-path_label {
        @include field-label();
    }

    .w-image-by-path_component {
        border-radius: 4px;
        max-width:     100%;
    }
}