@mixin field-label() {
    @include letter-spacing(40, 11px);
    position:         absolute;
    z-index:          1;
    top:              -5px;
    left:             10px;

    padding:          0 4px 0 5px;

    font-size:        11px;
    text-transform:   capitalize;
    color:            $gray-medium;

    background-color: #fff;

    border-radius:    4px;
}

.field-in-item .mod_error {
    .el-input__inner, .el-textarea__inner, .el-upload {
        border-color: $red-default;
    }
    label {
        color: $red-default;
    }
}
