.medium-editor-insert-plugin {
    .medium-insert-buttons {
        transform: translateY(-8px) translateX(8px);

        .medium-insert-buttons-show, .medium-insert-action {
            @include transition;

            display:          inline-flex;
            justify-content:  center;
            align-items:      center;

            width:            36px;
            height:           36px;

            background-color: $accent-light;
            border:           none;

            color:            $white;

            span {
                margin-top:  0;
                font-size:   24px;
                line-height: 24px;
            }
        }

        .medium-insert-action {
            background-color: $accent-default;
            color:            $white;
            width:            36px;
            height:           36px;

            &:hover {
                background-color: $accent-dark;
            }

            span {
                font-size:   32px;
                line-height: 32px;
            }
        }

        .medium-insert-buttons-addons {
            left: 42px;
            top:  -36px;

            li {
                margin: 0 2px;
            }

            svg {
                width:  18px;
                height: 18px;
            }
        }
    }
}

.medium-insert-embeds, .mediumInsert-embeds {
    text-align: left;
}

.medium-insert-embeds-input {
    color: $gray-text;
}

.medium-insert-embeds-selected .medium-insert-embed {
    outline: 0;
}

.medium-insert-images figure {
    text-align: left;

}

.medium-insert-images figure img {
    width: 100%;
}