// theme settings
$medium-editor-bgcolor: $accent-default;
$medium-editor-border-color: #fff;
$medium-editor-button-size: 40px;
$medium-editor-button-active-text-color: #fff;
$medium-editor-link-color: #fff;
$medium-editor-placeholder-color: #fff;

// theme rules
.medium-toolbar-arrow-under:after {
    top:          $medium-editor-button-size;
    border-color: $medium-editor-bgcolor transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
    top:          -4px;
    border-color: transparent transparent $medium-editor-bgcolor transparent;
}

.medium-editor-toolbar {
    background-color: $medium-editor-bgcolor;
    border-radius:    3px;

    li {
        padding: 0;

        button {
            display:          inline-flex;
            align-items:      center;
            justify-content:  center;

            min-width:        $medium-editor-button-size;
            height:           $medium-editor-button-size;
            padding:          0;
            border:           none;
            background-color: transparent;
            color:            $medium-editor-link-color;
            transition:       background-color .2s ease-in, color .2s ease-in;

            &:hover {
                background-color: $accent-dark;
                color:            $medium-editor-button-active-text-color;
            }
        }

        .medium-editor-button-active {
            background-color: $accent-dark;
            color:            $medium-editor-button-active-text-color;
        }

        .medium-editor-button-last {
            border-right: none;
        }
    }
}

.medium-editor-toolbar-form {
    .medium-editor-toolbar-input {
        height:     $medium-editor-button-size;
        background: $medium-editor-bgcolor;
        color:      $medium-editor-link-color;

        &::-webkit-input-placeholder {
            color: $medium-editor-placeholder-color;
            color: rgba($medium-editor-placeholder-color, .8);
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: $medium-editor-placeholder-color;
            color: rgba($medium-editor-placeholder-color, .8);
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: $medium-editor-placeholder-color;
            color: rgba($medium-editor-placeholder-color, .8);
        }

        &:-ms-input-placeholder {
            color: $medium-editor-placeholder-color;
            color: rgba($medium-editor-placeholder-color, .8);
        }
    }

    a {
        color: $medium-editor-link-color;
    }
}

.medium-editor-toolbar-anchor-preview {
    background: $medium-editor-bgcolor;
    color:      $medium-editor-link-color;
}

.medium-editor-placeholder:after {
    color: lighten($medium-editor-bgcolor, 20);
}
