<template>
    <section class="app-menu">

        <div class="app-menu_wrapper">
            <div class="app-menu_list">
                <router-link class="app-menu_item" to="/w-admin/dashboard">
                    <i class="app-menu_item-icon fas fa-gem"></i>
                    <span class="app-menu_item-text">Dashboard</span>
                </router-link>
            </div>

            <div v-if="$store.getters.models" v-for="group in $store.getters.models" class="app-menu_list">
                <router-link class="app-menu_item" v-for="(item, slug) in group" :to="'/w-admin/model/' + slug"
                             :key="slug">
                    <i class="app-menu_item-icon fas" :class="item.icon"></i>
                    <span class="app-menu_item-text">{{ item.name }}</span>
                </router-link>
            </div>

            <div class="app-menu_list">
                <router-link class="app-menu_item" to="/w-admin/settings">
                    <i class="app-menu_item-icon fas fa-cog"></i>
                    <span class="app-menu_item-text">Settings</span>
                </router-link>
            </div>


            <a href="/w-admin/logout" class="app-menu_logout">
                <i class="app-menu_logout-icon fas fa-sign-out-alt"></i>
                <span class="app-menu_logout-text">Logout</span>
            </a>
        </div>
    </section>
</template>

<script src="./app-menu.js"></script>