.app-menu {
    position:         fixed;
    top:              60px;
    left:             0;

    display:          none;
    width:            180px;
    height:           100%;

    background-color: $gray-background;

    @include media('t') {
        display: block;
    }

    .app-menu_wrapper {
        position:   absolute;
        overflow:   auto;

        max-height: 100%;
        width:      100%;

        top:        0;
        bottom:     100px;
        left:       0;
    }

    .app-menu_logout {
        position:         fixed;
        bottom:           0;

        display:          flex;
        align-items:      center;
        height:           40px;
        width:            180px;

        background-color: $gray-background-dark;

        &:hover {
            .app-menu_logout-icon {
                color: $accent-default;
            }

            .app-menu_logout-text {
                color: $accent-default;
            }
        }
    }

    .app-menu_list {
        padding-left:   0;
        padding-bottom: 20px;

        &:first-of-type {
            padding-top: 20px;
        }
    }

    .app-menu_item {
        display:         flex;
        align-items:     center;
        height:          28px;

        cursor:          pointer;
        text-decoration: none;

        &.router-link-active, &:hover {
            .app-menu_item-icon {
                color: $accent-default;
            }

            .app-menu_item-text {
                color: $accent-default;
            }
        }
    }

    .app-menu_logout-icon, .app-menu_item-icon {
        @include transition;

        width: 40px;
        color: $gray-medium;
    }

    .app-menu_logout-text, .app-menu_item-text {
        @include transition;

        @include text(2);
    }

    .app-menu_logout-text {
        color:           $gray-medium;
        text-decoration: none;
    }
}