.w-link {
    position:      relative;

    display:       block;
    width:         100%;
    min-height:    40px;

    margin-bottom: 20px;
    padding:       12px 15px 0;

    border:        1px solid #dcdfe6;
    border-radius: 4px;

    .w-link_label {
        @include field-label();
    }

    .w-link_link {
        @include transition;
        font-size: 14px;
        color:     $accent-default;

        &:hover {
            color: $accent-hover;
        }
    }
}