<template>
    <div class="w-link" :class="{'mod_error': errors.has(name)}" v-if="isVisible">
        <label class="w-link_label" v-text="label"></label>
        <a :href="link" class="w-link_link" target="_blank">{{ link }}</a>
    </div>
</template>

<script src="./w-link.js"></script>