.content {
    position: absolute;
    top:      60px;
    left:     0;
    right:    0;
    bottom:   0;

    @include media('t') {
        left: 180px;
    }
}

#app {
    display: none;

    @media all and (min-width: 840px) {
        display: block;
    }
}

.desktop-only {
    @include expand(fixed);
    display:          flex;
    justify-content:  center;
    align-items:      center;
    text-align:       center;
    font-size:        16px;

    background-color: $gray-background;

    @media all and (min-width: 840px) {
        display: none;
    }
}