@mixin expand($type: absolute) {
    position: $type;
    width:    100%;
    height:   100%;
    top:      0;
    bottom:   0;
    left:     0;
    right:    0;
}

@mixin centering($direction: 'both', $type: absolute) {
    position: $type;

    @if $direction == 'both' {
        top:       50%;
        left:      50%;
        transform: translate(-50%, -50%);
    } @else if $direction == 'x' {
        position:  absolute;
        left:      50%;
        transform: translateX(-50%);
    } @else if $direction == 'y' {
        position:  absolute;
        top:       50%;
        transform: translateY(-50%);
    }
}

@mixin position($a: false, $b: false, $c: false, $d: false) {
    @if $b == false and $c == false and $d == false {
        top:    $a;
        right:  $a;
        bottom: $a;
        left:   $a;
    } @else if $c == false and $d == false {
        top:    $a;
        bottom: $a;

        right:  $b;
        left:   $b;
    } @else if $d == false {
        top:    $a;
        bottom: $c;

        right:  $b;
        left:   $b;
    }  @else {
        top:    $a;
        right:  $b;
        bottom: $c;
        left:   $d;
    }
}