<template>
    <div class="w-text" :class="{'mod_error': errors.has(name)}">
        <label class="w-text_label" v-text="label"></label>
        <el-input class="w-text_component" :name="name" v-model="value" :disabled="disabled" v-validate="rules"/>
    </div>
</template>

<script src="./w-text.js"></script>