.dashboard {
    overflow: auto;
    height:   100%;
    padding:  20px;

    .dashboard_title {
        @include title(2);
        margin-bottom:  20px;
        text-transform: capitalize;
    }

    .dashboard_list {
        @include grid(2, 20px);

        margin-bottom: 40px;

        @include media('t') {
            @include grid(3, 20px);
        }

        @include media('d') {
            @include grid(5, 20px);
        }
    }

    .dashboard_item {
        display:          inline-flex;
        justify-content:  center;
        align-items:      center;

        height:           60px;
        margin-bottom:    20px;
        padding:          10px;

        border-radius:    20px;

        background-color: $gray-background;

        &:hover {
            .dashboard_item-icon, .dashboard_item-text {
                color: $accent-default;
            }
        }
    }

    .dashboard_item-icon {
        @include transition;
        font-size: 18px;
        color:     $gray-medium;

        @include media('d') {
            font-size: 24px;
        }
    }

    .dashboard_item-text {
        @include transition;
        @include text();

        margin-left: 10px;
        color:       $gray-text;
    }
}