<template>
    <section class="dashboard">
        <div v-if="$store.getters.models" v-for="(group, groupKey) in $store.getters.models">
            <h2 class="dashboard_title">{{ groupKey }}</h2>

            <div class="dashboard_list">
                <router-link class="dashboard_item" v-for="(item, slug) in group" :to="'/w-admin/model/' + slug"
                             :key="slug">
                    <i class="dashboard_item-icon fas" :class="item.icon"></i>
                    <div class="dashboard_item-text">{{ item.name }}</div>
                </router-link>
            </div>
        </div>

        <h2 class="dashboard_title">Settings</h2>

        <div class="dashboard_list">
            <router-link class="dashboard_item" to="/settings">
                <i class="dashboard_item-icon fas fa-cog"></i>
                <div class="dashboard_item-text">Settings</div>
            </router-link>

            <router-link v-if='$store.state.user' class="dashboard_item"
                         :to="'/w-admin/model/users/' + $store.state.user.id">
                <i class="dashboard_item-icon fas fa-user"></i>
                <div class="dashboard_item-text">{{ $store.state.user.name }}</div>
            </router-link>
        </div>
    </section>
</template>

<script src="./daashboard.js"></script>